body {
        background: black;
  color: #00ff66;
 font-family: monospace;
    text-align: center;
    margin-top: 150px;
}

.clock-container {
           background: #111;
  display: inline-block;
 padding: 25px;
 border-radius: 10px;
 border: 3px solid #00ff66;
    box-shadow: 0px 0px 15px #00ff66;
}

.time {
    font-size: 40px;
    font-weight: bold;
}

#ampm {
    font-size: 20px;
    color: red;
    margin-left: 5px;
}

button {
          margin-top: 15px;
  padding: 5px 10px;
  
 background: #00ff66;
 border: 1px solid black;
 cursor: pointer;
}
